<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="refresh" content= "{{ refreshtime }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfwEM7n5uHXCuinjRADC97rJq5QbgLWCxU5g&usqp=CAU">
   
    <link rel="stylesheet" href="/static/css/style.css">
    <title>{% block title %} {% endblock%}</title>
</head>
<body>
    <section id = "cover">
        <a href="/"> <img id ="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_vytSJKl-6WESJl0U4nQiEtFPoxW1hHzXWA&usqp=CAU"> </a>
        
        <ul>
            <li><a class="{% if active=='home' %}active{%endif %}" href="/">DEFI</a></li>
            <li><a class="{% if active=='block' %}active{%endif %}" href="{{ url_for('depositWithdraw') }}" > deposit/withdraw </a></li>
            <li><a class="{% if active=='Transactions' %}active{%endif %}" href="{{ url_for('AddFund') }}" >Add Fund</a></li>
        </ul>

        {% block content %} {% endblock %}
    </section>
    
</body>
</html>